  <link rel="stylesheet" href="//normalize-css.googlecode.com/svn/trunk/normalize.css" type="text/css"/>
  <link rel="stylesheet" href="stylesheets/css/home/klowdTVHome.css" type="text/css"/>
  <link rel="stylesheet" href="stylesheets/css/rcss/foundation/foundation.css" type="text/css"/>
  <link rel="stylesheet" href="stylesheets/css/rcss/account.css" type="text/css"/>
  <link rel="stylesheet" href="stylesheets/css/rcss/header.css" type="text/css"/>
  <link rel="stylesheet" href="stylesheets/css/rcss/homepage.css" type="text/css"/>
  <link rel="stylesheet" href="stylesheets/css/epg.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/css/simple-grid.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/css/tooltipster.css" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="jquery.tooltipster.min.js"></script>
<script src="klowdTVCore.js"></script>
<script src="ktv.responsive.js"></script>
<script src="app.js"></script>



<div id="EPG" class="EPG 100-percent-width">
  <div class="grid grid-pad">
    <div class="col-2-12">
      <div class="content">
        <div class="date height-15-percent"></div>
      </div>
    </div>
    <div class="col-10-12">
      <div class="content">
        <ul id="time" class="inline-block">
          <img id="previous" class="inline-block" src="/images/previous.png" />
          <img id="next" class="inline-block" src="/images/next.png" />
        </ul>
      </div>
    </div>
  </div>
  <div id="programGuide">
    <div class="currentGuide"></div>
  </div>
</div>
