body {
  background: white;
}

.100-percent-width {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

#time {
  width: 99%;
  position: relative;
  margin: 0.5%;
}

.half-hour {
  height: 10%;
  margin: 0 auto;
  background: black;
  float: left;
  color: white;
}

.half-hour p {
  padding-left: 3px;
  padding-top: 2px;
}

#time img {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
}

#next {
  right: 0;
}

#previous {
  right: 35;
}

.height-10-percent {
  height: 10%;
}

.programs li {
  display: inline-block;
  vertical-align: top;
  background-color: #818077;
  height: 9%;
  overflow: hidden;
  margin: .5%;
  color: white;
  text-align: center;
}

.programs.active li {
  background-color: green;
}

.programs.inactive li {
  background-color: lightgrey;
  color: black;
}

.station p {
  display: inline-block;
  float: right;
  margin-right: 1%;
  font-size: 20px;
}

.vertical-align-top {
  vertical-align: top;
}

.tooltip-theme {
  border-radius: 5px;
  border: 2px solid #000;
  background: #4c4c4c;
  color: #fff;
}